<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Estudio Socioeconómico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos_dependencias.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

  </head>
  <body>
      {% block header %}
      {% include 'subPlantillas/header.html' %}
      {% endblock %}
      <br>
      <h2 class="text-center titulos">Datos de personas que dependen economicamente del ingreso mensual reportado.
      </h2>
        <div class="container text-center justify-content-center" >
              <div class="row justify-content-center">
                <br><br><br><br>
                <form action="#" class="credit-card-div">
                      <br><br><br>
                      <div class="row ">
                          <div class="col-md-4 col-sm-4 col-xs-4">
                            <span class="preguntas"><strong>Número de hermanos TOTAL que tiene:</strong> </span>
                          </div>
                          <div class="col-md-1 col-sm-1 col-xs-1">
                           <input type="text" class="form-control" name="num_hermanos"/>
                          </div>

                        </div>

                        <br>
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <div class="row" style="font-family: 'Montserrat', sans-serif; color: #009900;" >
                                  a) Instrucciones: Llene la siguiente tabla con los datos de las personas que dependen del ingreso familiar antes mencionado. Sin incluir los del solicitante y sin incluir al que aporta el ingreso.
                                </div>
                                <br><br>
                                <form >
                                  <div class="row ">
                                        <div class="co2-md-5 col-sm-5 col-xs-5">
                                          <label for="validationServer01"><strong>Nombre</strong></label>
                                          <input type="text" class="form-control is-valid" id="validationServer01" value="" required>
                                          <div class="valid-feedback">
                                            Campo Obligatorio!
                                          </div>
                                        </div>
                                        <div class="co2-md-2 col-sm-2 col-xs-2">
                                          <label for="validationServer02"><strong>Edad</strong></label>
                                          <input type="text" class="form-control is-valid" id="validationServer02" value="" required>
                                          <div class="valid-feedback">
                                            Campo Obligatorio!
                                          </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                          <label for="validationServer03"><strong>Parentesco</strong></label>
                                          <input type="text" class="form-control is-valid" id="validationServer05" required>
                                          <div class="valid-feedback">
                                            Campo Obligatorio.
                                          </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row ">
                                          <div class="co2-md-4 col-sm-4 col-xs-4">
                                            <label for="validationServer04"><strong>Tipo de comprobante</strong></label>
                                            <input type="text" class="form-control is-valid" id="validationServer05" required>
                                            <div class="valid-feedback">
                                              Campo Obligatorio.
                                            </div>
                                          </div>

                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                            <label for="validationServer05"><strong>Observaciones</strong></label>
                                            <input type="text" class="form-control is-valid" id="validationServer03" required>

                                          </div>
                                      </div>



                                    </div>
                                    <br>
                                    <div class="col-md-11">
                                        <button class="btn btn-outline-success  btn-lg">Guardar persona</button>
                                    </div>
                                </form>
                                <br><br><br>
                                <table class="table">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Edad</th>
                                        <th scope="col">Parentesco</th>
                                        <th scope="col">Tipo comprobante</th>
                                        <th scope="col">Observaciones        .</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                      </tr>
                                      <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                      </tr>
                                      <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                      </tr>
                                    </tbody>
                                  </table>





                                <div class="row ">
                                  <div class="col-md-12">
                                      <br><br>
                                      <button class="btn btn-outline-success  btn-lg">Guardar información</button>
                                  </div>
                                </div>
                                <br>


                            </div>
                        </div>



                  </form>
              </div>
          </div>


  </body>

</html>
