<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Estudio Socioeconómico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css'  %}">
  </head>
  <body>
      {% block header %}
      {% include 'subPlantillas/header.html' %}
      {% endblock %}
      <h2 class="text-center">Datos Personales</h2>
        <div class="container text-center justify-content-center" >
              <div class="row justify-content-center">


                           <form action="{%  url 'serviciosapp:obtenerDatos_Solicitante' %" class="credit-card-div" method="post">
                              <br>
                              <div class="panel panel-default" >
                              <div class="panel-heading">

                                <div class="row ">
                                  <div class="col-md-9 col-sm-9 col-xs-9">
                                   <span ></span>

                                  </div>

                                  <div class="col-md-3 col-sm-3 col-xs-3">
                                  <span class="preguntas"><strong>Solicita Beca Alimentaria</strong> </span>
                                  <div class="radio">
                                  <input class="form-check-input" type="radio" name="solicita_beca_alimentaria" id="flexRadioDefault1">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Si
                                  </label>
                                  <input class="form-check-input" type="radio" name="solicita_beca_alimentaria" id="flexRadioDefault2" checked>
                                  <label class="form-check-label" for="flexRadioDefault2">
                                     No
                                  </label>
                                  </div>

                                  </div>
                               </div>
                              <br>
                               <div class="row ">

                                     <div class="col-md-4 col-sm-4 col-xs-4">
                                      <span class="preguntas"><strong>Apellido Paterno:</strong></span>
                                      <input type="text" class="form-control" name="apellido_paterno"/>
                                     </div>
                                     <div class="col-md-4 col-sm-4 col-xs-4">
                                      <span class="preguntas"><strong>Apellido Materno:</strong></span>
                                      <input type="text" class="form-control" name="apellido_materno"/>
                                     </div>
                                     <div class="col-md-4 col-sm-4 col-xs-4">
                                      <span class="preguntas"><strong>Nombre:</strong></span>
                                      <input type="text" class="form-control" name="nombre"/>
                                     </div>

                                 </div>
                                 <br>
                                 <div class="row ">
                                       <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span class="preguntas"><strong>Sexo:</strong></span>
                                        <br>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                          <label class="form-check-label" for="inlineRadio1">M</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                          <label class="form-check-label" for="inlineRadio2">F</label>
                                        </div>

                                       </div>
                                       <div class="co2-md-2 col-sm-2 col-xs-2">
                                        <span class="preguntas"><strong>Edad:</strong></span>
                                        <input type="number" class="form-control" name="edad" max="50" min="17"/>
                                       </div>
                                       <div class="col-md-4 col-sm-4 col-xs-4">
                                        <span class="preguntas"><strong>Estado Civil:</strong></span>
                                        <input type="text" class="form-control" name="estado_civi" />
                                       </div>

                                   </div>
                                   <br>

                            <div class="row ">
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                 <span class="preguntas"><strong> Carrera</strong></span>
                                 <input type="text" name="carrera" class="form-control"/>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                 <span class="preguntas" ><strong>Semestre</strong></span>
                                 <input type="number" name="semestre" class="form-control"/>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                 <span class="preguntas" > <strong>Grupo</strong></span>
                                 <input type="text" name="grupo" class="form-control"/>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                 <span class="preguntas" ><strong>Celular(lada:)</strong></span>
                                 <input type="text" name="celular" class="form-control"/>
                                </div>

                              </div>
                              <br>
                            <div class="row ">
                              <div class="col-md-6 col-sm-6 col-xs-6">
                               <span  class="preguntas"><strong> Además del idioma español, ¿Qué otro idioma, lenguaje o dialecto habla?</strong></span>
                               <input type="text" name="otro_idioma" class="form-control"/>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-6">
                              <span  class="preguntas"><strong>Su estancia en la universidad, implica residencia distinta a la familiar: </strong></span>
                              <div class="radio">
                              <input class="form-check-input" type="radio" name="residencia_distinta" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                Si
                              </label>
                              <input class="form-check-input" type="radio" name="residencia_distinta" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                 No
                              </label>
                              </div>

                              </div>
                           </div>
                           <br>
                           <div class="row ">
                             <div class="col-md-12">
                                 <span  class="subtitulos"><strong>Domicilio donde vivirá mientras estudia:</strong> </span>
                             </div>
                           </div>
                           <div class="row ">
                               <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="preguntas"><strong> Calle</strong></span>
                                <input type="text" name="calle" class="form-control"/>
                               </div>
                               <div class="col-md-1 col-sm-1 col-xs-1">
                                <span class="preguntas"><strong>Numero</strong></span>
                                <input type="number" name="numero_calle" class="form-control"/>
                               </div>
                               <div class="col-md-4 col-sm-4 col-xs-4">
                                <span class="preguntas"><strong>Colonia o barrio</strong></span>
                                <input type="text" name="barrio" class="form-control"/>
                               </div>
                               <div class="col-md-4 col-sm-4 col-xs-4">
                                <span class="preguntas" ><strong>Municipio:</strong></span>
                                <input type="text" name="municipio" class="form-control"/>
                               </div>

                             </div>
                             <br>
                             <div class="row ">
                                 <div class="col-md-3 col-sm-3 col-xs-3">
                                  <span  class="preguntas"><strong> Estado</strong></span>
                                  <input type="text" name="estado" class="form-control"/>
                                 </div>
                                 <div class="co6-md-7 col-sm-7 col-xs-7">
                                  <span class="preguntas"><strong>Nombre de la casa de huésped o del propietario(si la residencia es distinta a la familiar:</strong></span>
                                  <input type="text" name="propietario" class="form-control"/>
                                 </div>
                                 <div class="col-md-2 col-sm-2 col-xs-2">
                                  <span class="preguntas" ><strong>Parentesco</strong></span>
                                  <input type="text" name="parentesco" class="form-control"/>
                                 </div>


                               </div>
                               <br>
                               <div class="row ">
                                   <div class="col-md-12">
                                   <button class="btn btn-outline-success  btn-lg">Guardar</button>
                                   </div>

                                 </div>

                              </div>
                              </div>
                          </form>
              </div>
          </div>


  </body>

</html>
