<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Estudio Socioeconómico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos_gastos-solicitantes.css'  %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css'  %}">
    <script type="text/javascript" src="{% static 'js/gastos.js'  %}"></script>
  </head>
  <body>
      {% block header %}
      {% include 'subPlantillas/header.html' %}
      {% endblock %}

  <div class="container text-justify justify-content-center" >
      <br><h4 class="titulos text-center">INFORMACIÓN SOBRE GASTOS DEL SOLICITANTE</h4><br>
        <div class="row justify-content-center">



      <form action="{%  url 'serviciosapp:obtenerGastos_Solicitante' %}" class="credit-card-div" method="post">{% csrf_token %}
        {{ form.as_p }}

      <div class="row">
      <p class="preguntas text-justify"><strong>l. ¿A cuánto ascienden sus gastos mensuales totales de manutención, incluyendo lo que paga de: alimentación,  transporte, vivienda,servicios médicos, libros y materiales escolares, entretenimiento, etc.? (por favor, no incluya los gastos en colegiatura e inscripciones de la universidad):
      </strong>
      </p>

        <div class="container_GASTOS">

          <div class="form-row">
            <div class="col-2">
              <input id="prodId" name="id_usuario" type="hidden" value="{{id_usuario_actual}}">
              <input type="text" name="gastos_mensuales" class="form-control" placeholder="$" onkeypress="return filterFloat(event,this);">
            </div>
          </div>

        </div>
      </div>
      <br>


       <div class="row">
        <p class="preguntas"><strong>ll. Si tiene gastos adicionales por concepto de servicios médicos especializados , indique la causa y el monto mensual.</strong></p>


            <div class="input-group">
              <div class="container1">
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputGroup"></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input type="text" name="gastos_adicionales"class="form-control" id="inlineFormInputGroup" placeholder="Gastos medicos" onkeypress="return filterFloat(event,this);">

                  </div>
                </div>
              </div>
              <span class="input-group-addon"> </span>
              <div class="container1">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput"></label>
                    <input type="text" name="causa" class="form-control mb-2" id="inlineFormInput" placeholder="Causa">
                  </div>
                </div>
              </div>

            </div>

          </div>

          <br>

          <div class="row">
          <p class="preguntas"><strong>lll. Si renta cuarto o casa. ¿Con cuántas personas comparte el costo de la renta?    (No se cuente Ud.)</strong></p>
           <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="number" name="cant_personas_renta" class="form-control" max="5" min="0" placeholder="">
            </div>
            </div>
          <br>

          <div class="row">
            <p class="preguntas"><strong>lV. ¿Cuánto paga de renta mensualmente (anote solo lo que Ud. Aporta)?</strong></p>
          <div class="col-md-3 col-sm-3 col-xs-3">

              <input type="text" name="renta_mensual" class="form-control"  onkeypress="return filterFloat(event,this);" placeholder="$  mensuales">


            </div>
            </div>
            <br>
         <div class="row">
              <p class="preguntas"><strong>V. Si renta y vive con familiares. ¿Cuántas personas habitan la vivienda? </strong></p>
               <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="number" name="cant_familiares_renta" max="20" min="1" class="form-control" placeholder="">
            </div>
          </div>
          <br>
          <div class="row">

              <p class="preguntas"><strong>¿Qué parentesco tiene con usted?</strong></p>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" name="parentesco_arrentador" class="form-control" placeholder="">

            </div>
          </div>

          <br>
            <div class="row ">
              <p class="preguntas"><strong> Vl. Medio más frecuente para el traslado a la Universidad: </strong></p>
               <div class="col-md-4 col-sm-4 col-xs-4">
                <select name="seleccion"  onclick="javascript:showContent5()" id="inputState" class="form-control">
                  <option value="Taxi "selected>Taxi</option>
                  <option value="Taxi">Taxi </option>
                  <option value="Mototaxi">Mototaxi </option>
                  <option value="Bicicleta">Bicicleta</option>
                  <option value="Motocicleta">Motocicleta</option>
                  <option value="Automóvil">Automóvil propio</option>
                  <option value="otro">Otro</option>
                </select>

          </div>
        </div>
          <br>
          <div id="content10" style="display: none;">
               <div class="row ">
                     <span class="preguntas"> <strong>Especifique que medio de transporte utiliza:</strong></span>
                     <div class="col-md-4 col-sm-4 col-xs-4">
                     <input type="text" name="medio_de_transporte" value="" class="form-control" id="texto10"/>
                    </div>
                  </div>
                </div>
       <div id="content3" style="display: none;">
            <div class="row ">
                  <span class="preguntas"> <strong>En caso de que el medio de traslado sea motocicleta o automóvil propio, indique marca, modelo y año:</strong></span>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="datos_transporte_propio" value="" class="form-control" id="texto4"/>
                 </div>
               </div>

             </div>



          <p class="preguntas"><strong>Vll. Aparatos electrónicos que tiene para su uso personal: </strong></p>
          <div class="row ">


            <div class="col-md-3 col-sm-3 col-xs-3">
            <h6>Celular:</h6>
            <div class="radio">
            <input class="form-check-input" type="radio" name="celular" id="check" value="Si"  onclick="showContent()">
            <label class="form-check-label" for="flexRadioDefault2">
              Si
            </label>
            <input class="form-check-input" type="radio" name="celular" id="check" value="No"  onclick="showContent2()">
            <label class="form-check-label" for="flexRadioDefault2">
               No
            </label>
            </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
            <h6>Cámara fotografica:</h6>
            <div class="radio">
            <input class="form-check-input" type="radio" name="camara_fotografica" id="flexRadioDefault1" value="1"  onclick="javascript:showContent()">
            <label class="form-check-label" for="flexRadioDefault2">
              Si
            </label>
            <input class="form-check-input" type="radio" name="camara_fotografica" id="flexRadioDefault2" value="0"  onclick="javascript:showContent2()">
            <label class="form-check-label" for="flexRadioDefault2">
               No
            </label>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-3">
          <h6>Reproductor de audio</h6>
          <div class="radio">
          <input class="form-check-input" type="radio" name="reproductor_de_audio" id="flexRadioDefault1" value="1"  onclick="javascript:showContent()">
          <label class="form-check-label" for="flexRadioDefault2">
            Si
          </label>
          <input class="form-check-input" type="radio" name="reproductor_de_audio" id="flexRadioDefault2" value="0"  onclick="javascript:showContent2()">
          <label class="form-check-label" for="flexRadioDefault2">
             No
          </label>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
        <h6>Tableta electrónica:</h6>
        <div class="radio">
        <input class="form-check-input" type="radio" name="tableta_electronica" id="flexRadioDefault1" value="1"  onclick="javascript:showContent()">
        <label class="form-check-label" for="residencia_distinta1">
          Si
        </label>
        <input class="form-check-input" type="radio" name="tableta_electronica" id="flexRadioDefault2" value="0"  onclick="javascript:showContent2()">
        <label class="form-check-label" for="flexRadioDefault2">
           No
        </label>
        </div>
        </div>

         </div>

            <br>
            <div id="content" style="display: none;">
            <div class="row ">
                 <div class="col-md-2 col-sm-2 col-xs-2">
                  <span class="preguntas"> <strong>Marca:</strong></span>
                  <input type="text" name="celular_marca" value="" class="form-control" id="texto1"/>
                 </div>
                 <div class="col-md-2 col-sm-2 col-xs-2">
                  <span class="preguntas"><strong>Modelo:</strong></span>
                  <input type="text" name="celular_modelo" value="" class="form-control" id="texto2"/>
                 </div>

              </div>
              </div>
              <br>


            <div class="row">
              <p class="preguntas"><strong>Vlll. Si se encuentra empleado , mencione el centro de trabajo para el cual labora: </strong></p>
                 <div class="col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="centro_de_trabajo" value="" class="form-control" placeholder="">

              </div>
              </div>

              <br>

              <div class="row">
                <p class="preguntas"><strong> Mencione el ingreso mensual que percibe:<strong> </p>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" name="ingreso_mensual" value="" class="form-control" placeholder="$" onkeypress="return filterFloat(event,this);">

                </div>
                </div>

            <br>
              <div class="row">
                <p class="preguntas"> <strong>Domicilio y teléfono del centro de trabajo: </strong></p>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <input type="text" name="datos_trabajo" value=" " class="form-control" placeholder="">

                </div>
                </div>


              <br>
                <br>

                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <p  class="preguntas"><strong>lX. ¿Es jefe de familia?  </strong></p>
                <div class="radio">
                <input class="form-check-input" type="radio" name="jefe_de_familia" id="check2" value="Si"  onclick="javascript:showContent3()">
                <label class="form-check-label" for="residencia_distinta1">
                  Si
                </label>
                <input class="form-check-input" type="radio" name="jefe_de_familia" id="check2" value="No"  onclick="javascript:showContent4()">
                <label class="form-check-label" for="flexRadioDefault2">
                   No
                </label>
                </div>

                </div>
             </div>

              <br>

               <div id="content2" style="display: none;">
                 <div class="row ">

                       <span class="preguntas"> <strong>¿Cuántas personas dependen económicamente de usted?:</strong></span>
                       <div class="col-md-3 col-sm-3 col-xs-3">
                       <input type="number" name="personas_dependientes" value="" max="10" min="1" class="form-control" id="texto3"/>
                      </div>
                   </div>

                 </div>

                    <br>
                    <div class="row ">
                        <div class="col text-center">
                        <button class="btn btn-outline-success  btn-lg">Guardar</button>
                  </div>
                  </div>

                  </form>
                  </div>
                  </div>


                <br>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
