<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Estudio Socioeconómico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos_gastos-solicitantes.css'  %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css'  %}">
    <script type="text/javascript" src="{% static 'js/gastos.js'  %}?v=0.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </head>
  <body>
      {% block header %}
      {% include 'subPlantillas/header.html' %}
      {% endblock %}
      <br>

  <div class="container text-justify justify-content-center" >
    <div class="row">
        <div class="co2-md-1 col-sm-1 col-xs-1">
        </div>
        <div class="co2-md-10 col-sm-10 col-xs-10">
          <h2 class="text-center titulos" style="color: #34495E;">2. INFORMACIÓN SOBRE GASTOS DEL SOLICITANTE.</h2>
          <hr>
        </div>
        <div class="co2-md-1 col-sm-1 col-xs-1">
        </div>
    </div>

      <form name="form_datos_gastos" action="{%  url 'serviciosapp:obtenerGastos_Solicitante' %}" class="credit-card-div" method="post">{% csrf_token %}
        {{ form.as_p }}

      <div class="row">
      <p class="text-justify" style="color: #566573;"><strong>l. ¿A cuánto ascienden sus gastos mensuales totales de manutención, incluyendo lo que paga de: alimentación,  transporte, vivienda,servicios médicos, libros y materiales escolares, entretenimiento, etc.? (por favor, no incluya los gastos en colegiatura e inscripciones de la universidad):
      </strong>
      </p>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <input id="prodId" name="id_usuario" type="hidden" value="{{id_usuario_actual}}">
              <input type="text" name="gastos_mensuales" class="form-control" placeholder="$" onkeypress="return filterFloat(event,this);" required>
            </div>
          </div>

      </div>
      <br>
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <p  class="preguntas" style="color: #566573;"><strong> ¿Tiene gastos adicionales por concepto de servicios médicos especializados ?  </strong></p>
      <div class="radio">
      <input class="form-check-input" type="radio" name="gastos_medicos" id="check5" value="Si"  onclick="javascript:showContent8()">
      <label class="form-check-label" for="flexRadioDefault3">
        Si
      </label>
      <input class="form-check-input" type="radio" name="gastos_medicos" id="check5" value="No"  onclick="javascript:showContent9()">
      <label class="form-check-label" for="flexRadioDefault3">
         No
      </label>
      </div>

      </div>
     </div>
    <br>
      <div id="content5" style="display: none;">
       <div class="row">
        <p class="preguntas" style="color: #566573;"><strong>Si tiene gastos adicionales por concepto de servicios médicos especializados , indique la causa y el monto mensual.</strong></p>


            <div class="input-group">
              <div class="container1">
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputGroup"></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input type="text" value="" id="gastos_adicionales"name="gastos_adicionales"class="form-control" id="texto8" placeholder="Gastos medicos" onkeypress="return filterFloat(event,this);">

                  </div>
                </div>
              </div>
              <span class="input-group-addon"> </span>
              <div class="container1">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput"></label>
                    <input type="text" value="" id="causa" name="causa" class="form-control mb-2" id="texto9" placeholder="Causa">
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

          <br>

          <div class="row">
          <p class="preguntas" style="color: #566573;"><strong>Si renta cuarto o casa. ¿Con cuántas personas comparte el costo de la renta?    (No se cuente Ud.)</strong></p>
           <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="number" id="cant_personas_renta" name="cant_personas_renta" class="form-control" max="5" min="0" placeholder="" >
            </div>
            </div>
          <br>

          <div class="row">
            <p class="preguntas" style="color: #566573;"><strong> ¿Cuánto paga de renta mensualmente (anote solo lo que Ud. Aporta)?</strong></p>
          <div class="col-md-3 col-sm-3 col-xs-3">

              <input type="text" id="renta_mensual" name="renta_mensual" class="form-control"  onkeypress="return filterFloat(event,this);" placeholder="$  mensuales">


            </div>
            </div>
            <br>
         <div class="row">
              <p class="preguntas" style="color: #566573;"><strong>Si renta y vive con familiares. ¿Cuántas personas habitan la vivienda? </strong></p>
               <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="number" id="cant_familiares_renta" name="cant_familiares_renta" max="20" min="1" class="form-control" placeholder="">
            </div>
          </div>
          <br>
          <div class="row">

              <p class="preguntas" style="color: #566573;"><strong>¿Qué parentesco tiene con usted?</strong></p>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" id="parentesco_arrentador" name="parentesco_arrentador" class="form-control" placeholder="">

            </div>
          </div>

          <br>
            <div class="row ">
              <p class="preguntas" style="color: #566573;"><strong>Medio más frecuente para el traslado a la Universidad: </strong></p>
               <div class="col-md-4 col-sm-4 col-xs-4">
                <select  name="seleccion"  onclick="javascript:showContent5()" id="inputState" class="form-control" >
                  <option value="Taxi "selected>Taxi</option>
                  <option value="Taxi">Taxi </option>
                  <option value="Mototaxi">Mototaxi </option>
                  <option value="Bicicleta">Bicicleta</option>
                  <option value="Motocicleta">Motocicleta</option>
                  <option value="Automóvil">Automóvil propio</option>
                  <option value="otro">Otro</option>
                </select>

          </div>
        </div>
          <br>
          <div id="content10" style="display: none;">
               <div class="row ">
                     <span class="preguntas" style="color: #566573;"> <strong>Especifique que medio de transporte utiliza:</strong></span>
                     <div class="col-md-4 col-sm-4 col-xs-4">
                     <input type="text" id="medio_de_transporte" name="medio_de_transporte" value="" class="form-control" id="texto10"/>
                    </div>
                  </div>
                </div>
       <div id="content3" style="display: none;">
            <div class="row ">
                  <span class="preguntas" style="color: #566573;"> <strong>En caso de que el medio de traslado sea motocicleta o automóvil propio, indique marca, modelo y año:</strong></span>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                  <input type="text" id="datos_transporte_propio" name="datos_transporte_propio" value="" class="form-control" id="texto4"/>
                 </div>
               </div>
             </div>



          <p class="preguntas" style="color: #566573;"><strong>Aparatos electrónicos que tiene para su uso personal: </strong></p>
          <div class="row ">


            <div class="col-md-3 col-sm-3 col-xs-3">
            <h6>Celular:</h6>
            <div class="radio">
            <input class="form-check-input" type="radio" name="celular" id="check" value="Si"  onclick="showContent()">
            <label class="form-check-label" for="flexRadioDefault2">
              Si
            </label>
            <input class="form-check-input" type="radio" name="celular" id="check" value="No"  onclick="showContent2()">
            <label class="form-check-label" for="flexRadioDefault2">
               No
            </label>
            </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
            <h6>Cámara fotografica:</h6>
            <div class="radio">
            <input class="form-check-input" type="radio" name="camara_fotografica" id="flexRadioDefault1" value="Si" >
            <label class="form-check-label" for="flexRadioDefault2">
              Si
            </label>
            <input class="form-check-input" type="radio" name="camara_fotografica" id="flexRadioDefault1" value="No">
            <label class="form-check-label" for="flexRadioDefault2">
               No
            </label>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-3">
          <h6>Reproductor de audio</h6>
          <div class="radio">
          <input class="form-check-input" type="radio" name="reproductor_de_audio" id="flexRadioDefault2" value="Si"  >
          <label class="form-check-label" for="flexRadioDefault2">
            Si
          </label>
          <input class="form-check-input" type="radio" name="reproductor_de_audio" id="flexRadioDefault2" value="No" >
          <label class="form-check-label" for="flexRadioDefault2">
             No
          </label>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
        <h6>Tableta electrónica:</h6>
        <div class="radio">
        <input class="form-check-input" type="radio" name="tableta_electronica" id="flexRadioDefault3" value="Si">
        <label class="form-check-label" for="residencia_distinta1">
          Si
        </label>
        <input class="form-check-input" type="radio" name="tableta_electronica" id="flexRadioDefault3" value="No">
        <label class="form-check-label" for="flexRadioDefault2">
           No
        </label>
        </div>
        </div>

         </div>

            <br>
            <div id="content" style="display: none;">
            <div class="row ">
                 <div class="col-md-2 col-sm-2 col-xs-2">
                  <span class="preguntas"> <strong>Marca:</strong></span>
                  <input type="text" name="celular_marca" value="" class="form-control" id="texto1"/>
                 </div>
                 <div class="col-md-2 col-sm-2 col-xs-2">
                  <span class="preguntas"><strong>Modelo:</strong></span>
                  <input type="text" name="celular_modelo" value="" class="form-control" id="texto2"/>
                 </div>

              </div>
              </div>
              <br>
              <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
              <p  class="preguntas" style="color: #566573;"><strong> ¿Se encuentra empleado?  </strong></p>
              <div class="radio">
              <input class="form-check-input" type="radio" name="trabaja" id="check4" value="Si"  onclick="javascript:showContent6()">
              <label class="form-check-label" for="flexRadioDefault3">
                Si
              </label>
              <input class="form-check-input" type="radio" name="trabaja" id="check4" value="No"  onclick="javascript:showContent7()">
              <label class="form-check-label" for="flexRadioDefault3">
                 No
              </label>
              </div>

              </div>
           </div>
           <br>

          <div id="content4" style="display: none;">
            <div class="row">
              <p class="preguntas" style="color: #566573;"><strong>Mencione el centro de trabajo para el cual labora: </strong></p>
                 <div class="col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="centro_de_trabajo" value="" class="form-control" id="texto5" placeholder="">

              </div>
              </div>

              <br>

              <div class="row">
                <p class="preguntas" style="color: #566573;"> <strong>Mencione el ingreso mensual que percibe: </strong></p>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" name="ingreso_mensual" value=" " class="form-control"  id="texto6" placeholder="$" onkeypress="return filterFloat(event,this);">

                </div>
                </div>

            <br>
              <div class="row">
                <p class="preguntas" style="color: #566573;"> <strong>Domicilio y teléfono del centro de trabajo: </strong></p>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <input type="text" name="datos_trabajo" value=" " class="form-control"  id="texto7" placeholder="">

                </div>
                </div>

          </div>

              <br>

                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <p  class="preguntas" style="color: #566573;"><strong>¿Es jefe de familia?</strong></p>
                <div class="radio">
                <input class="form-check-input" type="radio" name="jefe_de_familia" id="check2" value="Si"  onclick="javascript:showContent3()">
                <label class="form-check-label" for="residencia_distinta1">
                  Si
                </label>
                <input class="form-check-input" type="radio" name="jefe_de_familia" id="check2" value="No"  onclick="javascript:showContent4()">
                <label class="form-check-label" for="flexRadioDefault2">
                   No
                </label>
                </div>

                </div>
             </div>

              <br>

               <div id="content2" style="display: none;">
                 <div class="row ">

                       <span class="preguntas" style="color: #566573;"> <strong>¿Cuántas personas dependen económicamente de usted?:</strong></span>
                       <div class="col-md-3 col-sm-3 col-xs-3">
                       <input type="number" name="personas_dependientes" id="personas_dependientes" value="" max="10" min="1" class="form-control" id="texto3"/>
                      </div>
                   </div>

                 </div>

                    <br>
                    <div class="row ">
                        <div class="col text-center">
                        <button class="btn btn-outline-success  btn-lg">Guardar</button>
                        <input type="button" class="btn btn-outline-success" name="" value="Guardar" onclick="validarInformacion()">
                  </div>
                  </div>

                  </form>
                  </div>



                <br>
      <script type="text/javascript">
         let gastos_adicionales = document.querySelector("#gastos_adicionales");
         let causa = document.querySelector("#causa");
         let cant_personas_renta = document.querySelector("#cant_personas_renta");
         let renta_mensual = document.querySelector("#renta_mensual");
         let cant_familiares_renta = document.querySelector("#cant_familiares_renta");
         let parentesco_arrentador = document.querySelector("#parentesco_arrentador");
         let seleccion = document.querySelector("#inputState");
         let medio_de_transporte = document.querySelector("#medio_de_transporte");
         let datos_transporte_propio = document.querySelector("#datos_transporte_propio");
         let celular_marca = document.querySelector("#texto1");
         let celular_modelo = document.querySelector("#texto2");
         let centro_de_trabajo = document.querySelector("#texto5");
         let ingreso_mensual = document.querySelector("#texto6");
         let datos_trabajo = document.querySelector("#texto7");
         let personas_dependientes = document.querySelector("#personas_dependientes");

        function validarInformacion(){

          try {
            var marcador =-1, marcador1=-1, marcador2 = -1,marcador3=-1, marcador4 = -1,  marcador5=-1, marcador6=-1;
            for (var i = 0; i < document.form_datos_gastos.gastos_medicos.length; i++) {
                if (document.form_datos_gastos.gastos_medicos[i].checked) {
                  marcador = i;}
            }

            for (var i = 0; i < document.form_datos_gastos.celular.length; i++) {
                if (document.form_datos_gastos.celular[i].checked) {
                  marcador1 = i;}
            }
            for (var i = 0; i < document.form_datos_gastos.camara_fotografica.length; i++) {
                if (document.form_datos_gastos.camara_fotografica[i].checked) {
                  marcador2 = i;}
            }
            for (var i = 0; i < document.form_datos_gastos.reproductor_de_audio.length; i++) {
                if (document.form_datos_gastos.reproductor_de_audio[i].checked) {
                  marcador3 = i;}
            }
            for (var i = 0; i < document.form_datos_gastos.tableta_electronica.length; i++) {
                if (document.form_datos_gastos.tableta_electronica[i].checked) {
                  marcador4 = i;}
            }
            for (var i = 0; i < document.form_datos_gastos.trabaja.length; i++) {
                if (document.form_datos_gastos.trabaja[i].checked) {
                  marcador5 = i;}
            }
            for (var i = 0; i < document.form_datos_gastos.jefe_de_familia.length; i++) {
                if (document.form_datos_gastos.jefe_de_familia[i].checked) {
                  marcador6 = i;}
            }
            var bandera_radios = false;
            var bandera_gastos_medicos = false;
            var bandera_vehiculo_propio = false;
            var bandera_trabaja = false;
            //para saber si los radio han sido llenados
            if (marcador != -1 && marcador1 != -1 &&marcador2 != -1 &&marcador3 != -1 &&marcador4 != -1 && marcador5 != -1 && marcador6 !=-1) {
              //alert("Validar informacion"+gastos_adicionales.value+causa.value+cant_personas_renta.value+document.form_datos_gastos.gastos_medicos[marcador].value+"  tiene celular ? "+
              //document.form_datos_gastos.celular[marcador1].value+document.form_datos_gastos.camara_fotografica[marcador2].value+document.form_datos_gastos.reproductor_de_audio[marcador3].value+
              //document.form_datos_gastos.tableta_electronica[marcador4].value+document.form_datos_gastos.trabaja[marcador5].value+document.form_datos_gastos.jefe_de_familia[marcador6].value);
              bandera_radios = true;
            }else {
              bandera_radios = false;
              Swal.fire({
                icon: 'error',
                text: '¡Por favor asegurate de rellenar todos los botones !'
              })
            }

            //saber si hay gastos medicos
            if (document.form_datos_gastos.gastos_medicos[marcador].value=="Si") {
              if( (gastos_adicionales.value != null && gastos_adicionales.value.length != 0) && (causa.value != null && causa.value.length != 0) ){
                bandera_gastos_medicos = true;

              }else {
                bandera_gastos_medicos = false;
                Swal.fire({
                  icon: 'error',
                  text: '¡Causa y mononto de gastos adicionales no ha sido rellenado!'
                });
              }
            }else {
              bandera_gastos_medicos = false;
            }

            //para saber si tienen vehículo propio u es otro tipo de transporte
            if (seleccion.value=="Motocicleta" || seleccion.value== "Automóvil") {
                if (datos_transporte_propio.value != null && datos_transporte_propio.value.length !=0) {
                    bandera_vehiculo_propio=true;
                }else {
                  bandera_vehiculo_propio=false;
                  Swal.fire({
                    icon: 'error',
                    text: '¡Indica marca modelo y año de tu vehículo!'
                  })
                }
            }else if (seleccion.value == "otro") {
              if (medio_de_transporte.value != null && medio_de_transporte.value.length !=0) {
                  bandera_vehiculo_propio=true;
              }else {
                bandera_vehiculo_propio=false;
                Swal.fire({
                  icon: 'error',
                  text: '¡Especifica que tipo de transporte!'
                })
              }
            }

            //Para conocer si tiene celular propio
            if (document.form_datos_gastos.celular[marcador1].value == "Si" ) {
                if ( (celular_marca.value != null && celular_marca.value.length != 0) && (celular_modelo.value != null && celular_modelo.value.length != 0) ) {

                }else {
                  Swal.fire({
                    icon: 'error',
                    text: '¡Por favor especifique marca y modelo!'
                  })
                }
            }

            //Para conocer si trabaja o no
            if (document.form_datos_gastos.trabaja[marcador5].value == "Si" ) {
              let centro_de_trabajo = document.querySelector("#texto5");
              let ingreso_mensual = document.querySelector("#texto6");
              let datos_trabajo = document.querySelector("#texto7");
              if ( (centro_de_trabajo.value != null && centro_de_trabajo.value.length != 0)  && (ingreso_mensual.value != null && ingreso_mensual.value.length != 0) &&  (datos_trabajo.value != null && datos_trabajo.value.length != 0)   ) {
                Swal.fire({
                  icon: 'success',
                  text: '¡El usuario relleno correctamente los campos!'
                })
              }else {
                Swal.fire({
                  icon: 'error',
                  text: '¡Por favor introduce tus datos de empleo!'
                })
              }
            }


          } catch (e) {
            Swal.fire({
              icon: 'error',
              text: '¡Hacen falta agunos datos en el segundo formulario!'
            })
          }


        }


      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
