<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Estudio Socioeconómico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css'  %}">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script type="text/javascript" src="{% static 'js/validaciones_numericas.js'  %}?v=0.0.3"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
  </head>
  <body>
      {% block header %}
      {% include 'subPlantillas/header.html' %}
      {% endblock %}
      <h2 class="text-center" style="color: #34495E;">7. GASTO FAMILIAR MENSUAL</h2>


        <div class="container justify-content-center" >

              <div class="row justify-content-center">
                           <form action="{%  url 'serviciosapp:obtenerGastoFamiliar' %}" class="credit-card-div" method="post">{% csrf_token %}

                              <br>
                              <span style="color: #566573;"><strong>Pago mensual de servicios</strong></span>
                              <div class="row">
                                     <div class="col-md-3 col-sm-3 col-xs-3">
                                     <label class="" style="color: #566573;"><strong>Agua:</strong></label>
                                     <input id="prodId" name="id_usuario" type="hidden" value="{{id_usuario_actual}}">
                                     <div class="col-lg-6">
                                     <input type="number"  onkeypress="return filterFloat(event,this);" value="0" step="0.01" name="agua" class="form-control" value="" id="texto7"/>
                                   </div>

                                  </div>
                                  <div class="col-md-3 col-sm-3 col-xs-3">
                                         <span style="color: #566573;"><strong>Luz:</strong></span>
                                         <div class="col-lg-6">
                                         <input type="number" onkeypress="return filterFloat(event,this);" value = "0" step="0.01" name="luz" class="form-control" value="" id="texto7"/>
                                       </div>

                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-3">
                                             <span style="color: #566573;"><strong>Telefono:</strong></span>
                                             <div class="col-lg-6">
                                             <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="telefono" class="form-control" value="" id="texto7"/>

                                          </div></div>
                                          <div class="col-md-3 col-sm-3 col-xs-3">
                                                 <span style="color: #566573;"><strong>Gas:</strong></span>
                                                 <div class="col-lg-6">
                                                 <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="gas" class="form-control" value="" id="texto7"/>

                                              </div></div>
                                        </div>
                                              <div class="row">
                                                  <div class="col-md-3 col-sm-3 col-xs-3">
                                                     <span style="color: #566573;"><strong>Educacion:</strong></span>
                                                     <div class="col-lg-6">
                                                     <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="educacion" class="form-control" value="" id="texto7"/>

                                                  </div></div>
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                         <span style="color: #566573;"><strong>Transporte:</strong></span>
                                                         <div class="col-lg-6">
                                                         <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="transporte" class="form-control" value="" id="texto7"/>

                                                  </div></div>
                                                  <div class="col-md-3 col-sm-3 col-xs-3">
                                                             <span style="color: #566573;"><strong>Renta:</strong></span>
                                                             <div class="col-lg-6">
                                                             <input type="text" onkeypress="return filterFloat(event,this);"   value="0" step="0.01" name="renta" class="form-control" value="" id="texto7"/>

                                                    </div></div>
                                                      <div class="col-md-3 col-sm-3 col-xs-3">
                                                                 <span style="color: #566573;"><strong>Television por cable:</strong></span>
                                                                 <div class="col-lg-6">
                                                                 <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="television_por_cable" class="form-control" value="" id="texto7"/>

                                                          </div></div>

                                                        </div>

                                                          <div class="row">
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                     <span style="color: #566573;"><strong>Internet:</strong></span>
                                                                     <div class="col-lg-6">
                                                                     <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="internet" class="form-control" value="" id="texto7"/>
                                                            </div></div>

                                                            </div>
                                                            <br>
                                                            <span style="color: #566573;"><strong>Otros (especifique):</strong></span>
                                                              <div class="row">
                                                                <div class="col-md-3 col-sm-3 col-xs-3">

                                                                          <div class="col-lg-6">
                                                                          <input type="text" name="Otros_1_nombre" class="form-control"  value="" placeholder="Gasto nombre"/>
                                                                        </div>
                                                                          <div class="col-lg-6">
                                                                         <input type="text" onkeypress="return filterFloat(event,this);" name="otros_1" class="form-control" value="0" step="0.01" placeholder="Gasto $"/>

                                                                  </div>
                                                                </div>

                                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                                          <div class="col-lg-6">
                                                                          <input type="text" name="Otros_2_nombre" class="form-control" value="" placeholder="Gasto nombre"/>
                                                                        </div>
                                                                          <div class="col-lg-6">
                                                                         <input type="text" onkeypress="return filterFloat(event,this);" name="otros_2" class="form-control" value="0" step="0.01" placeholder="Gasto $"/>

                                                                  </div></div>

                                                                </div>
                                                                  <br>


                                      <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                             <span style="color: #566573;"><strong>Gasto de alimentación:</strong></span>
                                             <div class="col-lg-6">
                                             <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01"  name="gasto_alimentacion" class="form-control" value="" id="texto7"/>

                                          </div></div>
                                          <div class="col-md-3 col-sm-3 col-xs-3">
                                                 <span style="color: #566573;"><strong>Gasto de vestido:</strong></span>
                                                 <div class="col-lg-6">
                                                 <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01"  name="gastos_vestido" class="form-control" value="" id="texto7"/>

                                              </div></div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                     <span style="color: #566573;"><strong>Gasto mensual de servicios:</strong></span>
                                                     <div class="col-lg-4">
                                                     <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="gastos_servicios" class="form-control" value="" id="texto7"/>

                                              </div></div>
                                              <div>

                                              </div class="row">

                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                         <span style="color: #566573;"><strong>médicos o medicamentos:</strong></span>
                                                         <div class="col-lg-6">
                                                         <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="gastos_servicios_medicos" class="form-control" value="" id="texto7"/>

                                                </div></div>
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                             <span style="color: #566573;"><strong>Gasto de diversión:</strong></span>
                                                             <div class="col-lg-6">
                                                             <input type="text" onkeypress="return filterFloat(event,this);"  value="0" step="0.01" name="gasto_diversion" class="form-control" value="" id="texto7"/>

                                                      </div></div>
                                                    </div>
                                                    <br>


                                                        <span style="color: #566573;"><strong>Otros gastos(especifique):</strong></span>
                                                          <div class="row">
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                      <div class="col-lg-6">
                                                                      <input type="text" name="otros_gastos_1_nombre"  value="" class="form-control" value="" placeholder="Gasto nombre"/>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                     <input type="text" onkeypress="return filterFloat(event,this);" value = "0" step="0.01" name="otros_gastos_1" class="form-control" value="" placeholder="Gasto $"/>
                                                                   </div>

                                                                 </div>
                                                                 <div class="col-md-3 col-sm-3 col-xs-3">
                                                                           <div class="col-lg-6">
                                                                           <input type="text" name="otros_gastos_2_nombre"  value="" class="form-control" value="" placeholder="Gasto nombre"/>
                                                                         </div>
                                                                         <div class="col-lg-6">
                                                                          <input type="text" onkeypress="return filterFloat(event,this);" value=0 step="0.01" name="otros_gastos_2" class="form-control" value="" placeholder="Gasto $"/>

                                                                   </div>

                                                                 </div>
                                                                 <div class="col-md-3 col-sm-3 col-xs-3">
                                                                          <br>
                                                                          <span style="color: #566573;"><strong>Total:</strong></span>

                                                                          <div class="col-lg-6">

                                                                          <input type="text" value="0" onkeypress="return filterFloat(event,this);" name="total_gastos" class="form-control" value="" id="texto7"/>
                                                                        </div>
                                                                        </div>

                                                              </div>


                              <br>

                               <div class="row">
                                   <div class="col text-center">
                                   <button class="btn btn-outline-success  btn-lg">Guardar</button>
                                   </div>

                                 </div>


                          </form>
              </div>
              </div>



              <script type="text/javascript">

              function showContent() {
                element = document.getElementById("content");
                check = document.getElementById("check");
                if (check.checked) {
                    element.style.display='block';
                }
                else {
                    element.style.display='none';
                }
              }
              function showContent2() {
              element = document.getElementById("content");
              check = document.getElementById("check");
              if (check.checked) {
                  element.style.display='none';
              }
              else {
                  element.style.display='none';
              }
              document.getElementById("texto1").value='';
              document.getElementById("texto2").value='';
              document.getElementById("texto3").value='';
              document.getElementById("texto4").value='';
              }







              </script>

            </body>

          </html>
