.input-text2{
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 1px 0;
  border-color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.input-text2: focus{
  outline: none;

}

.oblique {
  font-style: oblique;
  font-family: fantasy;
}
