.input-text2{
  display: block;
  width: 100%;
  height: 36px;
  border-width: 1 1 1px 0;
  border-color: border-secondary;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.input-text2: focus{
  outline: none;

}

.oblique {
  font-style: oblique;
  font-family: Luminari;

}
table{
  table-layout: fixed;
}

#miTablaPersonalizada th{
  width: 130px;
  overflow: auto;
  border: 1px solid;
}

.credit-card-div  span {
  padding-top:10px;
 }

.credit-card-div img {
  padding-top:30px;
}
.credit-card-div .small-font {
   font-size:9px;
 }
.credit-card-div .pad-adjust {
  padding-top:10px;
}
